// Create post modal
$create-post-bg: $theme-color-1-a;
$create-post-color: $theme-color-2-c;
$create-post-color-strong: $theme-color-2-b;
$create-post-color-light: $theme-color-2-d;
$create-post-active-color: $theme-color-3;

$create-post-textarea-bg: $theme-color-1;

$create-post-audience-height: 85px;

$create-post-footer-bg: $theme-color-1-b;
$create-post-footer-color: $theme-color-2-b;

$checkin-search-height: 85px;
$checkin-search-content-color: $theme-color-2;
