<!-- <div class="bar bar-ka4g-featured">
    <h1 class="title">Post of the Week</h1>
</div> -->
<div class="card-7 featured-post">
  <div class="row featured" >
    <div class='profile-flex'>
      <div class=" user-pic-container">
        <!-- We need a wrapper with width set for the preload image directive -->
        <a class="name" ng-click="resetAdClick()" ui-sref="app.profile.challenges({userId: featuredPost.user._id})">
          <div class="user-image-outer">
            <pre-img ratio="_1_1" helper-class="rounded-image">
              <img class="user-image-cover" ng-src="{{featuredPost.user.avatar}}" spinner-on-load>
            </pre-img>
          </div>
        </a>
      </div>
      <div class="user-name-container">
        <a class="user-name featured" ng-click="resetAdClick()" ui-sref="app.profile.challenges({userId: featuredPost.user._id})">{{featuredPost.user.name}}</a>
      </div>
      <div class="user-report-button">
        <a class="button button-icon icon ion-android-more-vertical featured" ng-click="showActionSheet(featuredPost._id)"></a>
      </div>
    </div>
  </div>
  <div class="row post-pic" >
    <a ng-click="resetAdClick()" ui-sref="app.challenge({ challengeId: featuredPost.challengeId })">
      <div class="challenge-header">
        {{ featuredPost.challenge.title }}
      </div>
    </a>
    <div class="image-holder">
        <span ng-if="featuredPost.filetype == 'image'">
          <!-- <a class="card-image-anchor" ui-sref="app.challenge({ challengeId: featuredPost.challengeId })"> -->
            <img class="card-image-anchor post-image" ng-src="{{featuredPost.file._downloadURL}}" >
        </span>
        <span ng-if="featuredPost.filetype == 'video'">
          <video width='100%' height='100%' ng-src="{{trustSrc(featuredPost.file._downloadURL)}}" poster="{{featuredPost.poster_file._downloadURL}}" preload controls type="{{ featuredPost.file.mimeType }}" webkit-playsinline></video>
        </span>
        <div class="potw-banner"><div class="spacer"></div><span class="potw-text">Post of the Week</span></div>
      </a>
    </div>
  </div>
  <div class="brag-txt">
    {{featuredPost.brag}}
  </div>
  <div>
    <a class="hashtag-txt" ng-click="resetAdClick()" ui-sref="app.challenge({ challengeId: post.challengeId })">{{ featuredPost.challenge.hashtag }}</a>
  </div>
  <div class="row post-actions">
    <div class="col col-33">
      <!-- Like -->
      <a ng-controller="LikeCtrl" ng-if="featuredPost.isLiked == false" ng-click="addOrRemoveLike(featuredPost)" class="subdued icon ion-thumbsup" style="float:left;">
        <ng-pluralize count="featuredPost.likeCount"
                 when="{'0': 'Like',
                     'one': '1 Like',
                     'other': '{} Likes'}">
        </ng-pluralize>
      </a>
      <a ng-controller="LikeCtrl" ng-if="featuredPost.isLiked == true" ng-click="getPostLikes(featuredPost)" class="already-liked subdued icon ion-thumbsup" style="float:left;">
        <ng-pluralize count="featuredPost.likeCount"
                 when="{'0': 'Like',
                     'one': '1 Like',
                     'other': '{} Likes'}">
        </ng-pluralize>
      </a>
    </div>
    <div class="col col-33">
      <a ng-controller="CommentsCtrl" ng-click="showComments(featuredPost); resetAdClick();" class="subdued featured icon ion-chatbox-working">
        <ng-pluralize count="featuredPost.commentCount"
                 when="{'0': 'Comment',
                     'one': '1 Comment',
                     'other': '{} Comments'}">
        </ng-pluralize>
      </a>
    </div>
    <div class="col col-33">
      <a ng-controller="SharePostCtrl" ng-click="share(featuredPost); resetAdClick()" class="subdued featured" style="float:right;"><i class="icon ion-android-share"></i>&nbsp;&nbsp;Share</a>
    </div>
  </div>
</div>
