<div class="people-view kicked-view">
  <div class="suggested-people-list">
    <div class="suggested-people row kicked-row">
      <div class="container">
        <div class="col col-center col-user-image col-user-image-kicked">
          <!-- We need a wrapper with width set for the preload image directive -->
          <div class="user-image-outer">
            <a ui-sref="app.profile.challenges({userId: challenges.challenger._id})">
              <pre-img ratio="_1_1" helper-class="square-image">
                <img class="user-image kicked-image" ng-src="{{challenges.challenger.avatar}}" spinner-on-load>
              </pre-img>
            </a>
          </div>
        </div>
        <div class="col col-center col-kicked">
          <div class="row user-data">
            <div class="col">
              <p>{{ challenges.challenger.name }} challenged <span ng-if="this_is_me == true">you</span><span ng-if="this_is_me == false">{{user.name}}</span>!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card-1">
  <div class="list card">
    <div class="charity-container">
      <div  class='karma-point-tag'>
        +{{ challenges.challenge.karma }}
      </div>
      <div  class="charity-name">{{ challenges.challenge.title }}</div >
      </div>
      <div class="img-gradient">
        <div class="item item-body">
          <a ui-sref="app.challenge({ challengeId: challenges.challenge.id })" ng-click="resetAdClick()">
            <div class="card-challenge-image-outer">
              <pre-img  helper-class="avatar-image">
                <img ng-src="{{ challenges.challenge.picture }}" spinner-on-load>
              </pre-img>
            </div>
          </a>
          <div id="frostedGlassCard" class="item item-celebrity bg-gradient">
            <div class="card-avatar-image-outer">
              <pre-img ratio="_1_1" helper-class="avatar-image">
                <img ng-src="{{ challenges.user.avatar }}" spinner-on-load>
              </pre-img>
            </div>
            <div  class="challenge-hash-tag">{{  challenges.user.hashtag }}</div >
            </div>
          </div>
        </div>
      </div>
      <div class="challenge-stats ">
        <div class="row">
          <div class="col time-left"></div>
          <div class="col " style="text-align: center;">{{ challenges.challenge.participants  }} participants</div>
          <div class="col"><a class="button category-button" ui-sref="app.category_feed({ categoryId: card.category.id })">{{ challenges.challenge.category.name  }}</a></div>
        </div>
      </div>
    </div>
  </div>
