// Popup
$popup-bg: $theme-color-10;
$popup-color: $theme-color-11;
$popup-padding: 10px;

// Comments list
$comments-color: $theme-color-2;
$comments-padding: 10px;

// New comment form
$new-comment-height: 55px;
$new-comment-bg: $theme-color-1-b;
$new-comment-input-bg: $theme-color-1;
$new-comment-active-color: $theme-color-3;
$new-comment-color: $theme-color-2-c;
