// People
$people-bg: $theme-color-1;

$people-divider-bg: $theme-color-1-b;
$people-divider-color: $theme-color-2;

$people-color: $theme-color-11;

$people-follow-button-bg: $theme-color-11;
$people-hide-button-bg: $theme-color-2-d;
